/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/valorant');

/* https://www.cdnfonts.com/valorant.font */

/* -------------------------------------------------------------------------- */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    user-select: none;
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */

/* Palette */

/* https://colorhunt.co/palette/6f4a8e221f3b050505ebebeb */

/* #6F4A8E #6F4A8E #6f4a8e4d #221F3B #050505 #EBEBEB */

/* Support */

/*  #262626 #201E1E #161616 */

:root {
    --main: #6F4A8E;
    --mainTransl: #6f4a8e4d;
    --mainDarker: #433152b9;
    --blue: #221F3B;
    --white: #EBEBEB;
    --black: #050505;
    --gray1: #262626;
    --gray2: #201E1E;
    --gray3: #161616;
    --gray4: #cccccc;
}

/* -------------------------------------------------------------------------- */

/* GENERAL */
html {
    font-size: 62.5%;
}
body {
    font-family: 'VALORANT', sans-serif;
    background-color: var(--gray2);
    color: var(--white);
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    color: var(--white);
}
::selection {
    background-color: var(--mainDarker);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 8px;
}  
::-webkit-scrollbar-thumb {
    background: var(--main); 
}

/* -------------------------------------------------------------------------- */

/* HEADER */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to left, var(--main), var(--gray4));
    border-radius: 0 0 5px 5px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    padding: 1rem 1rem;
}

/* --------------------------------------*/

/* Container Logo/Name */
header .container img {
    max-width: 143px;
    min-width: 85px;
    width: 20%;
}

/* --------------------------------------*/

/* Navigation Bar */
header .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
header .container nav a {
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 2px 3px var(--mainDarker);
    padding: .7rem .55rem;
    border-radius: 5px;
}
header .container nav a:hover {
    background-color: var(--mainDarker);
    transition: .2s;
}

/* --------------------------------------*/

/* Mobile Button */
header .container #btnMobile {
    display: none;
    font-size: 3.8rem;
    color: var(--white);
    z-index: 4000;
}

/* Region Buttons Mobile */
header .container .navBar.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1.8rem;
    background-color: var(--gray3);
    border-top: 6px solid var(--main);
    z-index: 3000;
}
header .container .navBar.mobile a {
    font-size: 1.8rem;
    padding: 1.2rem;
    width: auto;
    height: auto;
}

/* -------------------------------------------------------------------------- */

/* MAIN */
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
main .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1024px;
    min-width: 270px;
}

/* -------------------------------------------------------------------------- */

/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}
footer .container {
    text-align: center;
    font-family: monospace;
    letter-spacing: 2px;
    color: var(--white);
    text-shadow: 2px 2px var(--main);
    font-size: 1.6rem;
    padding-top: 28px;
    padding-bottom: 12px;
}

/* -------------------------------------------------------------------------- */

/* MODAL */
@keyframes fall {
    from {
        opacity: 0;
        transform: translate3d(0, -40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.modal.active,
.modal.active .modalContainer.active {
    display: flex;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

/*-------------------------------------------------*/

/* Container */
.modal .modalContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    min-width: 270px;
    padding: 2.5rem;
    border-top: 7px solid var(--main);
    background-color: var(--gray2);
    box-shadow: 2px 2px 8px black;
    animation: fall .15s;
}
/* Content */
.modal .modalContainer .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Options */
.modal .modalContainer .options {
    display: flex;
    gap: 10px;
}
.modal .modalContainer .options button {
    font-size: 1.8rem;
    font-weight: 800;
    width: 65px;
    padding: .5rem;
}

/*--------------------------------------------------------------------------*/

/* Responsive */

@media (max-width: 1124px) {
    header .container #btnMobile {
        display: flex;
    }
    header .container .navBar {
        display: none;
    }
}
@media (max-width: 425px) {
    html {
        font-size: 47%;
    }
}
@media (max-height: 485px) {
    header .container .navBar.mobile a {
        font-size: 1.6rem;
        padding: 0.5rem;
        transition: .2s;
    }
}
/* 
@media (max-height: 300px) {
    header .container .navBar.mobile a {
       TODO 
    }
} 
*/

/* -------------------------------------------------------------------------- */
