/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* -------------------------------------------------------------------------- */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    user-select: none;
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */

/* #a31153 #a311533f #72143e #262626 #201E1E #161616 #F1F1F1 */

:root {
    --main: #a31153;
    --mainTransl: #a311533f;
    --mainDarker: #72143e;
    --white: #F1F1F1;
    --gray1: #262626;
    --gray2: #201E1E;
    --gray3: #161616;
    --gray4: #cccccc;
}

/* -------------------------------------------------------------------------- */

/* GENERAL */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray1);
    color: var(--white);
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    color: var(--white);
}
::selection {
    background-color: var(--mainDarker);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 8px;
}  
::-webkit-scrollbar-thumb {
    background: var(--main); 
}

/* -------------------------------------------------------------------------- */

/* HEADER */
header {
    display: flex;
    justify-content: center;
    width: 100%;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1024px;
    padding: 2rem;
    color: var(--main);
}

/* --------------------------------------*/

/* Container Logo/Name */
header .container .logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2.2rem;
}

/* --------------------------------------*/

/* Navigation Bar */
header .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    height: 40px;
    text-transform: capitalize;
}
header .container nav a {
    text-decoration: none;
    color: var(--gray4);
    padding: .6rem;
    border-radius: 5px;
}
header .container nav a:hover {
    background-color: var(--mainTransl);
    transition: .2s;
}

/* --------------------------------------*/

/* Mobile Button */
header .container #btnMobile {
    display: none;
    font-size: 4rem;
    align-self: flex-end;
    color: var(--main);
    z-index: 4000;
}

/* Region Buttons Mobile */
header .container .navBar.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--gray3);
    border-top: 6px solid var(--main);
    z-index: 3000;
}
header .container .navBar.mobile a {
    font-size: 2rem;
    padding: 1.4rem;
    width: auto;
    height: auto;
}

/* -------------------------------------------------------------------------- */

/* MAIN */
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    max-width: 1024px;
    min-width: 275px;
    border-radius: 5px;
    margin-top: 28px;
}

/* --------------------------------------*/

/* Admin Control Panel */
/* TODO */

/* -------------------------------------------------------------------------- */

/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}
footer .container {
    text-align: center;
    font-family: monospace;
    letter-spacing: 2px;
    color: var(--white);
    font-size: 1.6rem;
    padding-top: 28px;
    padding-bottom: 12px;
}

/* -------------------------------------------------------------------------- */

/* Responsive */

@media (max-width: 768px) {
    header .container #btnMobile {
        display: flex;
    }
    header .container .navBar {
        display: none;
    }
}
@media (max-width: 320px) {
    html {
        font-size: 56%;
    }
}
@media (max-height: 380px) {
    header .container .navBar.mobile button {
        font-size: 1.8rem;
        padding: 0.5rem;
    }
}

/* -------------------------------------------------------------------------- */