/* -------------------------------------------------------------------------- */

/* TechVelvet Store - Users Page CSS */

/* -------------------------------------------------------------------------- */

/* MAIN */

/* Users */
main .container .users {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    min-width: 270px;
    border-radius: 5px;
    padding: 2rem;
    background-color: var(--gray2);
    box-shadow: 4px 4px 8px var(--black);
    margin-top: 35px;
}

/* Users Header */
main .container .users .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
main .container .users .header .title {
    text-shadow: 2px 2px var(--gray3);
    color: var(--main);
    font-size: 2rem;
}
main .container .users .header button {
    width: 8%;
    min-width: 55px;
    padding: .2rem;
    border: 2px solid var(--main);
    border-radius: 5px;
}
main .container .users .header button:hover {
    background-color: var(--mainTransl);
}
main .container .users .header button i {
    color: var(--main);
    font-weight: 600;
    font-size: 2rem;
}

/* Users List */
main .container .users .list {
    display: flex;
    flex-direction: column;
    color: var(--gray4);
}
main .container .users .list .user {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    background-color: var(--mainDarker);
    box-shadow: 2px 2px 3px var(--gray3);
    border-radius: 5px;
    padding: 1rem;
}
main .container .users .list .user .display {
    display: flex;
    align-items: center;
}
main .container .users .list .user .display span {
    font-size: 1.8rem;
}
main .container .users .list .user .buttons {
    display: flex;
    gap: 8px;
}
main .container .users .list .user .buttons button {
    color: var(--gray4);
    font-size: 1.5rem;
    padding: .6rem 1rem;
    border: 2px solid var(--gray4);
    border-radius: 5px;
}

/*-------------------------------------------------*/

/* Users Pagination */

main .container .users .pagination {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}
main .container .users .pagination button {
    border: 2px solid var(--main);
    border-radius: 5px;
    padding: .6rem;
}
main .container .users .pagination button i {
    color: var(--main);
    font-size: 2.4rem;
}

/* -------------------------------------------------------------------------- */

/* Form Modal */

/* Floating Label Inputs */

.inputField {
    display: flex;
}
.inputField label {
    pointer-events: none;
    position: absolute;
    color: var(--main);
    transition: .06s;
    font-size: 1.45rem;
    padding: 1.48rem 0 0 1rem; 
    user-select: none;
}
.inputField input {
    background: none;
    outline: none;
    border: 2px solid var(--main);
    color: var(--white);
    border-radius: 5px;
    padding: 1rem;
}
.inputField input {
    font-size: 1.6rem;
}
.inputField input::placeholder {
    user-select: none;
    color: transparent;
}
.inputField input:focus + label,
.inputField input:not(:placeholder-shown) + label {
    transform: translate3d(.2rem, -1.1rem, 0) scale(.85);
    font-weight: 600;
    padding: 0 .5rem;
    background-color: var(--gray2);
    color: var(--main);
}

/*-------------------------------------------------*/

/* Form */

.modal .modalContainer .modalContent span {
    font-size: 2rem;
    margin-bottom: 18px;
}

.modal .modalContainer .modalContent form {
    width: 100%;
}
.modal .modalContainer .modalContent form input {
    width: 100%;
    margin-bottom: 18px;
}

/* Options */

.modal .modalContainer .options button {
    border-radius: 5px;
    border: 2px solid var(--main);
    color: var(--main);
}
.modal .modalContainer .options button i {
    font-size: 1.8rem;
    font-weight: 800;
}
.modal .modalContainer .options button:hover {
    background-color: var(--mainDarker);
}


/* -------------------------------------------------------------------------- */