<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../styles/style.css">
        <title>TechVelvet Admin</title>
    </head>
    <body>
        <header>
            <div class="container">
                <img src="../images/logo_header.png" alt="TechVelvet Logo" class="logo">
                <button type="button" id="btnMobile"><i class='bx bx-menu'></i></button>
                <nav class="navBar">
                    <a href="">Articles</a>
                    <a href="">Brands</a>
                    <a href="">Categories</a>
                    <a href="">Customers</a>
                    <a href="">Menus</a>
                    <a href="">Orders</a>
                    <a href="../api/products">Products</a>
                    <a href="">Sales Report</a>
                    <a href="">Settings</a>
                    <a href="">Shipping</a>
                    <a href="">Users</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
            </div>
        </main>
        <footer>
            <div class="container">
                © TechVelvet Admin Control Panel<br>TechVelvet Store
            </div>
        </footer>
        <script src="../js/admin.js"></script>
    </body>
</html>
