<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/users.css">
        <title>TechVelvet Users</title>
    </head>
    <body>
        <header>
            <div class="container">
                <img src="../images/logo_header.png" alt="TechVelvet Logo" class="logo">
                <button type="button" id="btnMobile"><i class='bx bx-menu'></i></button>
                <nav class="navBar">
                    <a href="">Articles</a>
                    <a href="">Brands</a>
                    <a href="">Categories</a>
                    <a href="">Customers</a>
                    <a href="">Menus</a>
                    <a href="">Orders</a>
                    <a href="../api/products">Products</a>
                    <a href="">Sales Report</a>
                    <a href="/admin">Settings</a>
                    <a href="">Shipping</a>
                    <a href="/users">Users</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="users">
                    <div class="header">
                        <div class="title">
                            Tech Velvet Users
                        </div>
                        <button type="button" id="btnModalNewUser"><i class='bx bx-plus'></i></button>
                    </div>
                    <div class="list">
                    </div>
                    <div class="pagination">
                        <button type="button" id="previousPage"><i class='bx bxs-skip-previous-circle' ></i></button>
                        <button type="button" id="nextPage"><i class='bx bxs-skip-next-circle' ></i></button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                © TechVelvet Users<br>TechVelvet Store
            </div>
        </footer>
        <div class="modal">
            <div class="modalContainer">
                <div class="modalContent">
                </div>
                <div class="options">
                    <button type="button" id="btnCloseModal"><i class='bx bx-x'></i></button>
                    <button type="button" id="btnConfirmModal"><i class='bx bx-check'></i></button>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/users.js"></script>
    </body>
</html>
